
<div>
    <h2><span data-translate="joggingApp.jogging.detail.title">Jogging</span> {{vm.jogging.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="joggingApp.jogging.finish">Finish</span></dt>
        <dd>
            <span>{{vm.jogging.finish | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="joggingApp.jogging.title">Title</span></dt>
        <dd>
            <span>{{vm.jogging.title}}</span>
        </dd>
        <dt><span data-translate="joggingApp.jogging.user">User</span></dt>
        <dd>
            {{vm.jogging.userLogin}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="jogging-detail.edit({id:vm.jogging.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
